In [1]:
import pandas as pd

In [13]:
ebay_df = pd.read_csv('./data/ebay.csv',index_col=0)
admit_df = pd.read_csv('./data/admit.csv',index_col=0)
promote_df = pd.read_csv('./data/promote.csv',index_col=0)

In [16]:
ebay_df.head()

,item_category,item_condition,seller_rating,auction_duration,starting_price,number_of_bidders,buy_price,ship_price
0,Art,New,2.66,24,409.94,46,1352.80,27.0560
1,Electronics,Refurbished,4.69,48,907.60,48,3085.84,61.7168
2,Electronics,New,1.35,72,988.20,77,4792.77,95.8554
3,Fashion,Refurbished,2.71,48,882.38,51,3132.45,62.6490
4,Antiques,New,4.14,96,901.39,21,1847.85,36.9570

In [32]:
ebay_df[['item_category','starting_price','buy_price']].groupby('item_category').mean()

               starting_price    buy_price
item_category
Antiques           506.415294  1710.458775
Art                513.147250  1770.887000
Automotive         556.364450  1960.449150
Electronics        496.288376  1735.403299
Fashion            487.696482  1775.425578

In [28]:
ebay_df.isnull().sum()

item_category        0
item_condition       0
seller_rating        0
auction_duration     0
starting_price       0
number_of_bidders    0
buy_price            0
ship_price           0
dtype: int64

In [30]:
ebay_df['item_category'].value_counts()

item_category
Antiques       204
Art            200
Automotive     200
Fashion        199
Electronics    197
Name: count, dtype: int64